.nav-background {
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.div-just-display-flex {
  display: flex;
}

.div-columna-foto-columna {
  display: flex;
  align-content: center;
}

.div-buttons-header {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}

.header-button {
  font-size: 14px;
  font-weight: 490;
  color: white;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
}

.full-height-minus-nav {
  min-height: calc(100vh - 41.6px);
}

.main-layout-body {
  background-color: teal;
}
